/* You can add global styles to this file, and also import other style files */
/* Remove all default spacing */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden; /* Optional: Prevent horizontal scroll */
  overflow-y: hidden; /* Optional: Prevent horizontal scroll */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

