<div class="station-display-container">
<!--  <h1>Stationen</h1>-->

  <!-- Stationsliste -->
  <div *ngIf="this.isLoaded" class="station-list-container">
<!--    <div *ngFor="let userStation of userStations">-->
    <div *ngFor="let userStation of this.globalConfig.USER.userStations">

      <!-- Kreis mit Haken vor Stationsname, falls schon abgehakt -->
        <div *ngIf="userStation?.completed == true, else incomplete" class="checkmark-with-text">
          <div class="checkmark-circle"></div>
          <span>{{userStation.station.name}}</span>
        </div>

        <!-- ansonsten Leerer Kreis vor Stationsname -->
        <ng-template #incomplete>
        <div class="empty-circle-with-text">
          <div class="empty-circle"></div>
          <span>{{userStation.station.name}}</span>
        </div>
        </ng-template>

    </div>
  </div>

</div>
