<div class="main" *ngFor="let item of this.combinedList">
<!--  {{item.label}}-->
  <div class="image-container">
    <div class="image-label">
      {{item.label}}
    </div>
      <img [src]="item.imageName" [alt]="item.label">

    <!--    3 Pins für Reader-->
    <div *ngFor="let pinOffset of pinOffsets" class="location-pin"
         [ngStyle]="{
                      '--offset-x': pinOffset.x + 'vw',
                      '--offset-y': pinOffset.y + 'vh'
          }"
    ></div>

    <!-- Wenn Benuzterdaten fertig geladen sind-->
    <div *ngIf="this.isLoaded">

    <!-- Für alle Stationen ein rundes Div auf den Bildern plazieren -->
      <div *ngFor="let userStation of this.userStations"

                 [style.--offset-x]="this.calculateCoordinatesVh_Vw(userStation).xOffset + 'vw'"
                 [style.--offset-y]="this.calculateCoordinatesVh_Vw(userStation).yOffset + 'vh'"

      >
        <!-- Kreis mit Haken, falls schon abgehakt -->
        <div *ngIf="userStation?.completed, else incomplete" class="circle-ticked">✓<!-- Circle placed on top --></div>

        <!-- ansonsten roter Kreis mit Stationsnummer -->
        <ng-template #incomplete>
            <div class="circle-unticked">{{userStation.station.number}}<!--✓--></div> <!-- Circle placed on top -->
        </ng-template>


      </div>
    </div>


  </div>
</div>

<!--[style.&#45;&#45;offset-x]="this.calculateCoordinates(userStation).xOffset + 'px'"-->
<!--[style.&#45;&#45;offset-y]="this.calculateCoordinates(userStation).yOffset + 'px'"-->
