<h2 mat-dialog-title>Benutzer hinzufügen</h2>
<mat-dialog-content>

  <div style="display: flex; align-items: center; margin-bottom: 16px;">
    <label >Benutzername:</label>
    <mat-form-field appearance="fill" style="flex: 1;">
      <input matInput [(ngModel)]="data.username" style="padding-left: 4%">
    </mat-form-field>
  </div>

  <div style="display: flex; align-items: center;">
    <label >Kartennummer:</label>
    <mat-form-field appearance="fill" style="flex: 1;">
      <input matInput [(ngModel)]="data.cardId" style="padding-left: 4%">
    </mat-form-field>
  </div>

</mat-dialog-content>

<mat-dialog-actions align="center">
  <button mat-button mat-dialog-close (click)="onCancel()" >Abbrechen</button>
  <button mat-button color="primary" (click)="onOk()" >OK</button>
</mat-dialog-actions>
