.full-width-quarter-height {
  width: 100%;             /* Fill all available horizontal space */
  height: 10vh;            /* 25% of the viewport height */
  background-color: #0071BC;  /* Pick any background color */
  display: flex;
  justify-content: flex-end; /* Push child to the right */

  position: fixed;
  bottom: 0;
  left: 0;

}

.icon-image {
  width: 20%;
  margin-right: 2%;
}
